# Scraping the Gas Price table
### Price is updated daily

In [1]:
#dependencies
import pandas as pd
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup
import requests

# Get Abbreviations by state

In [2]:
#Decided to find a website to scrape the state abbreviations
url_abv = "https://abbreviations.yourdictionary.com/articles/state-abbrev.html"

In [3]:
response = requests.get(url_abv)
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
#HTML inspect found the values in the li tag
results = soup.find_all('li')

In [5]:
# total length of li
len(results)

199

In [6]:
#strip out only the first 50 li tags that contain the abbreviations
ABV = []

In [7]:
for i in range(0, 50):
    results[i].text
    ABV.append(results[i].text)

In [8]:
len(ABV)

50

In [9]:
#Take the new list and seperate the abbreviations into a new list
ABV_new = []
State_name = []

In [10]:
for i in range(0, 50):
    ABV_clean = ABV[i].split(' - ')[1]
    ABV_new.append(ABV_clean.replace(' ',''))

In [11]:
for i in range(0, 50):
    ABV_clean = ABV[i].split(' - ')[0]
    State_name.append(ABV_clean.replace(' ',''))

In [12]:
All_States_df = pd.DataFrame({'State':State_name,
                           'Abbreviation':ABV_new                   
})

In [13]:
All_States_df

            State Abbreviation
0         Alabama           AL
1          Alaska           AK
2         Arizona           AZ
3        Arkansas           AR
4      California           CA
5        Colorado           CO
6     Connecticut           CT
7        Delaware           DE
8         Florida           FL
9         Georgia           GA
10         Hawaii           HI
11          Idaho           ID
12       Illinois           IL
13        Indiana           IN
14           Iowa           IA
15         Kansas           KS
16       Kentucky           KY
17      Louisiana           LA
18          Maine           ME
19       Maryland           MD
20  Massachusetts           MA
21       Michigan           MI
22      Minnesota           MN
23    Mississippi           MS
24       Missouri           MO
25        Montana           MT
26       Nebraska           NE
27         Nevada           NV
28   NewHampshire           NH
29      NewJersey           NJ
30      NewMexico           NM
31        NewYork           NY
32  NorthCarolina           NC
33    NorthDakota           ND
34           Ohio           OH
35       Oklahoma           OK
36         Oregon           OR
37   Pennsylvania           PA
38    RhodeIsland           RI
39  SouthCarolina           SC
40    SouthDakota           SD
41      Tennessee           TN
42          Texas           TX
43           Utah           UT
44        Vermont           VT
45       Virginia           VA
46     Washington           WA
47   WestVirginia           WV
48      Wisconsin           WI
49        Wyoming           WY

# Getting the Gas Prices per State

In [14]:
#Appened the abbriviations list to the URL to get all 50 states url
url = "https://gasprices.aaa.com/?state="

GasPrice_State_urls = []

for i in range(0, 50):
    GasPrice_State_urls.append(url+ABV_new[i])

In [15]:
Scraped_df = []
Final_df = pd.DataFrame()

In [16]:
GasPrice_State_urls

['https://gasprices.aaa.com/?state=AL',
 'https://gasprices.aaa.com/?state=AK',
 'https://gasprices.aaa.com/?state=AZ',
 'https://gasprices.aaa.com/?state=AR',
 'https://gasprices.aaa.com/?state=CA',
 'https://gasprices.aaa.com/?state=CO',
 'https://gasprices.aaa.com/?state=CT',
 'https://gasprices.aaa.com/?state=DE',
 'https://gasprices.aaa.com/?state=FL',
 'https://gasprices.aaa.com/?state=GA',
 'https://gasprices.aaa.com/?state=HI',
 'https://gasprices.aaa.com/?state=ID',
 'https://gasprices.aaa.com/?state=IL',
 'https://gasprices.aaa.com/?state=IN',
 'https://gasprices.aaa.com/?state=IA',
 'https://gasprices.aaa.com/?state=KS',
 'https://gasprices.aaa.com/?state=KY',
 'https://gasprices.aaa.com/?state=LA',
 'https://gasprices.aaa.com/?state=ME',
 'https://gasprices.aaa.com/?state=MD',
 'https://gasprices.aaa.com/?state=MA',
 'https://gasprices.aaa.com/?state=MI',
 'https://gasprices.aaa.com/?state=MN',
 'https://gasprices.aaa.com/?state=MS',
 'https://gasprices.aaa.com/?state=MO',
 'https://gasprices.aaa.com/?state=MT',
 'https://gasprices.aaa.com/?state=NE',
 'https://gasprices.aaa.com/?state=NV',
 'https://gasprices.aaa.com/?state=NH',
 'https://gasprices.aaa.com/?state=NJ',
 'https://gasprices.aaa.com/?state=NM',
 'https://gasprices.aaa.com/?state=NY',
 'https://gasprices.aaa.com/?state=NC',
 'https://gasprices.aaa.com/?state=ND',
 'https://gasprices.aaa.com/?state=OH',
 'https://gasprices.aaa.com/?state=OK',
 'https://gasprices.aaa.com/?state=OR',
 'https://gasprices.aaa.com/?state=PA',
 'https://gasprices.aaa.com/?state=RI',
 'https://gasprices.aaa.com/?state=SC',
 'https://gasprices.aaa.com/?state=SD',
 'https://gasprices.aaa.com/?state=TN',
 'https://gasprices.aaa.com/?state=TX',
 'https://gasprices.aaa.com/?state=UT',
 'https://gasprices.aaa.com/?state=VT',
 'https://gasprices.aaa.com/?state=VA',
 'https://gasprices.aaa.com/?state=WA',
 'https://gasprices.aaa.com/?state=WV',
 'https://gasprices.aaa.com/?state=WI',
 'https://gasprices.aaa.com/?state=WY']

In [17]:
for i in range(0, 50):
    agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36\
    (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'
    
    url = GasPrice_State_urls[i]
    
    request = Request(url, headers={'User-Agent': agent})

    html = urlopen(request).read().decode()
    
    tables = pd.read_html(html)
    
    df = tables[0]
    
    df["state"] = ABV_new[i]
    
    Scraped_df.append(df)

In [18]:
for i in range(0,49):
    Final_df = Final_df.append(Scraped_df[i])

In [19]:
Final_df = Final_df.rename(columns={'Unnamed: 0': 'Averages',
                                    'Mid-Grade':'MidGrade'
                                   })

In [20]:
Final_df.set_index('state')

             Averages Regular MidGrade Premium  Diesel
state
AL       Current Avg.  $2.204   $2.487  $2.804  $2.833
AL     Yesterday Avg.  $2.171   $2.463  $2.782  $2.829
AL      Week Ago Avg.  $2.090   $2.389  $2.702  $2.815
AL     Month Ago Avg.  $1.990   $2.297  $2.616  $2.790
AL      Year Ago Avg.  $2.281   $2.589  $2.890  $2.777
AK       Current Avg.  $2.806   $2.875  $3.019  $2.932
AK     Yesterday Avg.  $2.804   $2.878  $3.013  $2.935
AK      Week Ago Avg.  $2.813   $2.908  $3.036  $2.943
AK     Month Ago Avg.  $2.868   $3.003  $3.112  $2.975
AK      Year Ago Avg.  $3.043   $3.090  $3.206  $3.118
AZ       Current Avg.  $2.424   $2.635  $2.851  $2.887
AZ     Yesterday Avg.  $2.424   $2.633  $2.852  $2.892
AZ      Week Ago Avg.  $2.424   $2.637  $2.855  $2.886
AZ     Month Ago Avg.  $2.514   $2.743  $2.953  $2.944
AZ      Year Ago Avg.  $2.387   $2.595  $2.801  $2.792
AR       Current Avg.  $2.158   $2.413  $2.688  $2.769
AR     Yesterday Avg.  $2.150   $2.403  $2.679  $2.768
AR      Week Ago Avg.  $2.108   $2.370  $2.635  $2.740
AR     Month Ago Avg.  $1.944   $2.240  $2.518  $2.690
AR      Year Ago Avg.  $2.320   $2.588  $2.844  $2.732
CA       Current Avg.  $3.286   $3.440  $3.553  $3.786
CA     Yesterday Avg.  $3.285   $3.439  $3.552  $3.785
CA      Week Ago Avg.  $3.276   $3.431  $3.544  $3.771
CA     Month Ago Avg.  $3.248   $3.403  $3.517  $3.766
CA      Year Ago Avg.  $3.339   $3.484  $3.597  $3.680
CO       Current Avg.  $2.177   $2.441  $2.716  $2.787
CO     Yesterday Avg.  $2.168   $2.434  $2.715  $2.784
CO      Week Ago Avg.  $2.122   $2.386  $2.662  $2.747
CO     Month Ago Avg.  $2.065   $2.334  $2.615  $2.726
CO      Year Ago Avg.  $2.420   $2.670  $2.935  $2.801
...               ...     ...      ...     ...     ...
UT       Current Avg.  $2.203   $2.337  $2.488  $2.844
UT     Yesterday Avg.  $2.207   $2.334  $2.496  $2.843
UT      Week Ago Avg.  $2.203   $2.333  $2.494  $2.845
UT     Month Ago Avg.  $2.382   $2.506  $2.676  $2.941
UT      Year Ago Avg.  $2.458   $2.600  $2.758  $2.879
VT       Current Avg.  $2.419   $2.760  $3.002  $3.101
VT     Yesterday Avg.  $2.415   $2.748  $2.994  $3.098
VT      Week Ago Avg.  $2.394   $2.748  $2.997  $3.081
VT     Month Ago Avg.  $2.424   $2.774  $3.045  $3.095
VT      Year Ago Avg.  $2.616   $2.868  $3.086  $3.168
VA       Current Avg.  $2.191   $2.543  $2.826  $2.873
VA     Yesterday Avg.  $2.189   $2.542  $2.823  $2.873
VA      Week Ago Avg.  $2.158   $2.508  $2.789  $2.859
VA     Month Ago Avg.  $2.067   $2.440  $2.716  $2.833
VA      Year Ago Avg.  $2.347   $2.683  $2.956  $2.803
WA       Current Avg.  $2.865   $3.067  $3.212  $3.186
WA     Yesterday Avg.  $2.866   $3.067  $3.213  $3.185
WA      Week Ago Avg.  $2.869   $3.082  $3.207  $3.169
WA     Month Ago Avg.  $2.918   $3.109  $3.258  $3.164
WA      Year Ago Avg.  $3.003   $3.175  $3.303  $3.186
WV       Current Avg.  $2.381   $2.626  $2.893  $3.052
WV     Yesterday Avg.  $2.379   $2.619  $2.890  $3.045
WV      Week Ago Avg.  $2.358   $2.595  $2.866  $3.035
WV     Month Ago Avg.  $2.260   $2.506  $2.775  $3.013
WV      Year Ago Avg.  $2.543   $2.760  $3.018  $3.033
WI       Current Avg.  $2.375   $2.673  $3.047  $2.904
WI     Yesterday Avg.  $2.372   $2.666  $3.043  $2.904
WI      Week Ago Avg.  $2.317   $2.603  $2.985  $2.870
WI     Month Ago Avg.  $2.070   $2.393  $2.765  $2.775
WI      Year Ago Avg.  $2.467   $2.771  $3.137  $2.972

[245 rows x 5 columns]

# SQL connection

In [21]:
import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

from sqlalchemy import create_engine

In [22]:
# dbuser = 'root'
# dbpassword = 'Rosenhyf1!'
# dbhost = 'localhost'
# dbport = '3306'
# dbname= 'etl_db'

dbuser = 'root'
dbpassword = 'ro-Cha7t'
dbhost = 'localhost'
dbport = '3306'
dbname= 'ETL_db'

engine = create_engine(f"mysql://{dbuser}:{dbpassword}@{dbhost}:{dbport}/{dbname}")
Base.metadata.create_all(engine)

In [23]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [26]:
Final_df.to_sql('gasprices', engine, index=True, if_exists='replace')

In [25]:
All_States_df.to_sql('states', engine, index=True, if_exists='replace')