In [24]:
import pandas as pd

data_url = "https://www.fhwa.dot.gov/policyinformation/travel_monitoring/18novtvt/18novtvt.xls"
data = pd.read_excel(data_url, "Page 6", skiprows=7)
data = data.rename(columns={"Unnamed: 0": "State"})

In [23]:
state_vmt = data[["State", "STATIONS", "CMILES"]]
state_vmt = state_vmt.dropna()
state_vmt = state_vmt.reset_index(drop=True)
state_vmt

                   State STATIONS  CMILES
0            Connecticut       11    2656
1                  Maine       95    1138
2          Massachusetts       47    4943
3          New Hampshire      156     999
4             New Jersey       51    6744
5               New York       54    8936
6           Pennsylvania       77    8293
7           Rhode Island       35     592
8                Vermont       55     555
9               Delaware        0     744
10  District of Columbia        2     292
11               Florida      221   18401
12               Georgia       89    9360
13              Maryland       44    4761
14        North Carolina       73    9508
15        South Carolina       97    4387
16              Virginia      695    6914
17         West Virginia       42    2034
18              Illinois       81    7746
19               Indiana       45    6673
20                  Iowa      134    2534
21                Kansas       93    2527
22              Michigan      107    7201
23             Minnesota        0    5021
24              Missouri      156    5602
25              Nebraska       55    1653
26          North Dakota       65     676
27                  Ohio      149    9819
28          South Dakota       40     692
29             Wisconsin      173    4993
30               Alabama      146    5349
31              Arkansas       37    2606
32              Kentucky       49    4026
33             Louisiana        0    3532
34           Mississippi       71    3211
35              Oklahoma       61    4136
36             Tennessee       25    6095
37                 Texas      209   22718
38                Alaska       92     373
39               Arizona      138    5390
40            California       96   32119
41              Colorado      102    3869
42                Hawaii       58     868
43                 Idaho      194    1399
44               Montana       93     946
45                Nevada       82    2340
46            New Mexico       52    2147
47                Oregon      151    2846
48                  Utah       99    2561
49            Washington      158    4906
50               Wyoming      127     702
51                TOTALS     4982  258533