In [126]:
import pandas as pd
import requests
from requests.exceptions import HTTPError


data_url = "https://www.fhwa.dot.gov/policyinformation/travel_monitoring/18novtvt/18novtvt.xls"
data = pd.read_excel(data_url, "Page 6", skiprows=7)
data = data.rename(columns={"Unnamed: 0": "State"})

In [106]:
years = ["16", "17", "18"]
months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]
excel_files=[]

for months in months:
    for year in years:
        excel_files.append(year + months)

In [116]:
month_dfs = []

for file in excel_files:
    
    try:
        data_url = f"https://www.fhwa.dot.gov/policyinformation/travel_monitoring/{file}tvt/{file}tvt.xls"
        data = pd.read_excel(data_url, "Page 6", skiprows=7)
        data = data.rename(columns={"Unnamed: 0": "State"})
        data = data[["State", "STATIONS", "CMILES"]]
        data = data.dropna()
        data = data[data["State"] != "TOTALS"]
        data = data.rename(columns={"STATIONS": f"{file} Stations"})
        data = data.rename(columns={"CMILES": f"{file} Miles"})
        data = data.set_index("State")
        month_dfs.append(data)
    
    except:
        print(f"{file} not found ....skipping")
        continue
    
state_vmt = pd.DataFrame()
state_vmt = pd.concat(month_dfs, axis=1, sort=True)
state_vmt = state_vmt.dropna()
state_vmt.head()

18oct not found ....skipping
18dec not found ....skipping

,16jan Stations,16jan Miles,17jan Stations,17jan Miles,18jan Stations,18jan Miles,16feb Stations,16feb Miles,17feb Stations,17feb Miles,...,16nov Stations,16nov Miles,17nov Stations,17nov Miles,18nov Stations,18nov Miles,16dec Stations,16dec Miles,17dec Stations,17dec Miles
State,,,,,,,,,,,,,,,,,,,,,
Alabama,87,5146,103,5087,81,5101,103,5153,109,5126,...,105,5395,81,5392,146,5349,108,5601,79,5564
Alaska,84,362,86,354,97,355,85,337,92,326,...,66,367,97,366,92,373,92,361,98,365
Arizona,153,5470,0,5633,150,5717,132,5494,115,5496,...,175,5170,132,5318,138,5390,179,6037,123,6141
Arkansas,29,3048,31,3040,39,3062,23,2745,35,2364,...,31,2676,36,2806,37,2606,33,3017,38,3167
California,191,24667,167,23997,156,25629,165,25229,54,24050,...,156,34354,160,33156,96,32119,175,33859,166,32638

In [117]:
state_vmt

,16jan Stations,16jan Miles,17jan Stations,17jan Miles,18jan Stations,18jan Miles,16feb Stations,16feb Miles,17feb Stations,17feb Miles,...,16nov Stations,16nov Miles,17nov Stations,17nov Miles,18nov Stations,18nov Miles,16dec Stations,16dec Miles,17dec Stations,17dec Miles
State,,,,,,,,,,,,,,,,,,,,,
Alabama,87,5146,103,5087,81,5101,103,5153,109,5126,...,105,5395,81,5392,146,5349,108,5601,79,5564
Alaska,84,362,86,354,97,355,85,337,92,326,...,66,367,97,366,92,373,92,361,98,365
Arizona,153,5470,0,5633,150,5717,132,5494,115,5496,...,175,5170,132,5318,138,5390,179,6037,123,6141
Arkansas,29,3048,31,3040,39,3062,23,2745,35,2364,...,31,2676,36,2806,37,2606,33,3017,38,3167
California,191,24667,167,23997,156,25629,165,25229,54,24050,...,156,34354,160,33156,96,32119,175,33859,166,32638
Colorado,98,4401,96,4429,80,4740,88,3861,77,3985,...,85,3992,80,4054,102,3869,92,4393,80,4479
Connecticut,32,2417,34,2456,0,2273,31,2265,35,2274,...,33,2692,21,2746,11,2656,33,2527,24,2513
Delaware,70,694,67,711,55,719,65,699,60,720,...,48,753,52,749,0,744,54,768,55,746
District of Columbia,2,285,2,306,3,362,1,224,3,206,...,3,277,3,288,2,292,3,298,3,310
Florida,235,18466,235,18167,232,18637,234,16906,233,16616,...,235,18100,230,17858,221,18401,233,18249,231,17708
Georgia,168,9168,160,9571,0,9708,170,9331,167,9453,...,159,9278,114,9461,89,9360,157,9999,92,9927
Hawaii,65,971,66,870,63,892,66,820,66,728,...,69,839,63,773,58,868,68,857,63,770
Idaho,197,1238,0,1189,131,1279,188,1232,0,1188,...,188,1406,180,1415,194,1399,197,1254,174,1310
Illinois,40,7907,66,7752,72,7987,47,8347,59,8468,...,56,8198,84,7978,81,7746,56,8237,69,8161
Indiana,0,6178,41,6286,45,6316,0,5481,28,5239,...,40,6732,0,6441,45,6673,42,7066,0,6900
Iowa,139,2287,137,2391,141,2397,81,2130,136,2338,...,41,2537,135,2674,134,2534,47,2468,139,2646
Kansas,93,2334,94,2308,95,2409,91,2417,95,2457,...,91,2679,93,2688,93,2527,92,2771,94,2825
Kentucky,53,3728,59,3933,55,3962,45,3341,57,3497,...,59,4100,53,4153,49,4026,63,4008,60,3979
Louisiana,15,3942,3,3936,1,3700,6,3499,10,3426,...,2,3743,0,3722,0,3532,3,4237,2,4074
Maine,94,1121,85,1143,86,1052,11,1068,0,1069,...,0,1178,93,1199,95,1138,88,1163,98,1163
Maryland,56,3962,51,4315,52,4599,55,3928,53,4106,...,52,4792,53,4838,44,4761,52,4639,54,4549
Massachusetts,33,4766,35,4970,30,4616,33,4465,57,4452,...,63,4871,53,4998,47,4943,54,4937,50,4933
Michigan,119,8765,120,8821,112,8300,119,7580,56,7872,...,121,8098,120,7367,107,7201,120,8427,117,8197
Minnesota,60,4374,58,4224,57,4347,62,4189,59,4100,...,37,4951,30,4894,0,5021,17,4554,24,4414
Mississippi,60,3417,0,3348,8,2986,85,3095,48,3011,...,65,3419,74,3363,71,3211,60,3061,70,2972
Missouri,154,5642,161,5360,164,5606,152,5262,163,5224,...,164,6074,163,5942,156,5602,164,6138,164,6188
Montana,81,764,88,733,87,755,84,790,88,727,...,83,1055,86,958,93,946,86,910,84,900
Nebraska,60,1435,60,1394,59,1444,60,1416,59,1449,...,58,1704,60,1709,55,1653,59,1610,60,1627
Nevada,80,1991,72,1995,64,2172,84,1907,75,1939,...,77,2267,12,2268,82,2340,77,2328,83,2399
New Hampshire,163,1022,133,1021,134,966,173,973,174,988,...,175,1015,173,1017,156,999,175,1090,174,1069
New Jersey,43,5197,42,5464,46,5416,47,5510,47,5483,...,41,6813,45,6754,51,6744,49,6561,37,6542
New Mexico,74,2170,81,2345,69,2339,79,2003,81,2094,...,82,2021,0,2215,52,2147,81,2077,68,2250
New York,147,9948,143,9521,153,8998,143,9619,139,9327,...,61,9750,73,9400,54,8936,142,11137,155,10279
North Carolina,54,8629,49,9081,42,9144,52,8301,51,8843,...,48,9451,43,9702,73,9508,50,9341,45,9284
North Dakota,46,764,68,736,62,754,50,710,69,674,...,53,726,60,683,65,676,50,752,56,715
Ohio,143,9250,137,9244,131,9161,145,8693,141,8781,...,139,9876,129,9690,149,9819,144,9493,136,9338
Oklahoma,78,3661,81,3564,79,3823,75,3715,83,3677,...,0,4107,0,4140,61,4136,0,3666,78,3734
Oregon,158,2644,144,2425,86,2769,161,2623,158,2532,...,158,2905,155,2902,151,2846,156,2795,149,2970
Pennsylvania,64,6921,47,7271,44,7275,61,6864,52,7077,...,44,8214,46,8367,77,8293,45,9222,48,9413
Rhode Island,78,419,78,431,42,427,53,503,79,507,...,53,573,59,614,35,592,79,597,61,613
South Carolina,105,4117,97,4266,0,4208,109,4100,105,4223,...,104,4302,95,4346,97,4387,97,4277,86,4228
South Dakota,47,610,49,583,7,611,48,636,47,622,...,49,707,45,701,40,692,49,724,41,721
Tennessee,23,6126,24,6302,34,5914,39,5636,51,5968,...,33,6020,34,6233,25,6095,29,6383,33,6570
Texas,10,20597,206,21095,210,21383,9,19631,210,20923,...,199,21517,217,22417,209,22718,190,20319,207,20818
Utah,101,2237,103,2328,0,2585,103,2117,103,2236,...,103,2373,102,2532,99,2561,104,2358,99,2487
Vermont,0,657,57,611,54,524,0,552,59,565,...,60,515,63,535,55,555,59,553,63,561
Virginia,691,5970,665,6413,690,6766,671,5928,679,6210,...,675,7053,690,7003,695,6914,677,6904,690,6810
Washington,134,4181,158,4113,134,4383,127,4466,161,4261,...,148,4836,152,4757,158,4906,143,4660,153,4680
West Virginia,6,1364,33,1472,39,1406,24,1346,41,1412,...,37,2001,55,2067,42,2034,0,1597,45,1655
Wisconsin,147,4643,147,4655,132,4873,151,4463,188,4554,...,164,4997,163,4961,173,4993,168,4646,178,4761
Wyoming,153,655,133,618,117,653,156,621,134,586,...,139,758,135,756,127,702,135,714,129,723

In [129]:
import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

from sqlalchemy import create_engine

dbuser = 'root'
dbpassword = 'ro-Cha7t'
dbhost = 'localhost'
dbport = '3306'
dbname= 'ETL_db'

engine = create_engine(f"mysql://{dbuser}:{dbpassword}@{dbhost}:{dbport}/{dbname}")
Base.metadata.create_all(engine)

In [128]:

state_vmt.to_sql('vmt', engine, if_exists="replace")

InternalError: (pymysql.err.InternalError) (1170, "BLOB/TEXT column 'State' used in key specification without a key length") [SQL: 'CREATE INDEX `ix_vmt_State` ON vmt (`State`)'] (Background on this error at: http://sqlalche.me/e/2j85)