# Scraping the Gas Price table
### Price is updated daily

In [1]:
#dependencies
import pandas as pd
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup
import requests

# This is not used

In [28]:
#define URL for the average prices per day by gas grade by state
url = 'https://gasprices.aaa.com/?state=TX'

In [29]:
#below to authenticate before url can serve content
agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36\
(KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'

request = Request(url, headers={'User-Agent': agent})

html = urlopen(request).read().decode()

In [30]:
#Using pandas to parse the html by table
tables = pd.read_html(html)

In [31]:
df = tables[0]

In [32]:
df

       Unnamed: 0 Regular Mid-Grade Premium  Diesel
0    Current Avg.  $2.139    $2.433  $2.699  $2.725
1  Yesterday Avg.  $2.133    $2.427  $2.691  $2.720
2   Week Ago Avg.  $2.031    $2.332  $2.599  $2.670
3  Month Ago Avg.  $1.976    $2.278  $2.546  $2.675
4   Year Ago Avg.  $2.255    $2.549  $2.801  $2.723

## --------------------------------------------------------------------------------

## Get average gas data by state

In [2]:
#Decided to find a website to scrape the state abbreviations
url_abv = "https://abbreviations.yourdictionary.com/articles/state-abbrev.html"

In [3]:
response = requests.get(url_abv)
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
#HTML inspect found the values in the li tag
results = soup.find_all('li')

In [5]:
#Test result of the first instance of li tag
results[0].text

'Alabama - AL '

In [6]:
# total length of li
len(results)

199

In [7]:
#strip out only the first 50 li tags that contain the abbreviations
ABV = []

In [8]:
for i in range(0, 50):
    results[i].text
    ABV.append(results[i].text)

In [9]:
len(ABV)

50

In [10]:
#Take the new list and seperate the abbreviations into a new list
ABV_new = []

In [11]:
for i in range(0, 50):
    ABV_clean = ABV[i].split(' - ')[1]
    ABV_new.append(ABV_clean.replace(' ',''))

In [33]:
ABV_new

['AL',
 'AK',
 'AZ',
 'AR',
 'CA',
 'CO',
 'CT',
 'DE',
 'FL',
 'GA',
 'HI',
 'ID',
 'IL',
 'IN',
 'IA',
 'KS',
 'KY',
 'LA',
 'ME',
 'MD',
 'MA',
 'MI',
 'MN',
 'MS',
 'MO',
 'MT',
 'NE',
 'NV',
 'NH',
 'NJ',
 'NM',
 'NY',
 'NC',
 'ND',
 'OH',
 'OK',
 'OR',
 'PA',
 'RI',
 'SC',
 'SD',
 'TN',
 'TX',
 'UT',
 'VT',
 'VA',
 'WA',
 'WV',
 'WI',
 'WY']

# Getting the Gas Prices per State

In [16]:
#Appened the abbriviations list to the URL to get all 50 states url
url = "https://gasprices.aaa.com/?state="

GasPrice_State_urls = []

for i in range(0, 50):
    GasPrice_State_urls.append(url+ABV_new[i])