In [97]:
import pandas as pd
import requests
from requests.exceptions import HTTPError


data_url = "https://www.fhwa.dot.gov/policyinformation/travel_monitoring/18novtvt/18novtvt.xls"
data = pd.read_excel(data_url, "Page 6", skiprows=7)
data = data.rename(columns={"Unnamed: 0": "State"})

In [98]:
years = ["16", "17", "18"]
months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]
excel_files=[]

for months in months:
    for year in years:
        excel_files.append(year + months)

In [99]:
month_dfs = []

for file in excel_files:
    
    try:
        data_url = f"https://www.fhwa.dot.gov/policyinformation/travel_monitoring/{file}tvt/{file}tvt.xls"
        data = pd.read_excel(data_url, "Page 6", skiprows=7)
        data = data.rename(columns={"Unnamed: 0": "State"})
        data = data[["State", "STATIONS", "CMILES"]]
        data = data.rename(columns={"STATIONS": f"{file} Stations"})
        data = data.rename(columns={"CMILES": f"{file} Miles"})
        data = data.set_index("State")
        month_dfs.append(data)
    
    except:
        print(f"{file} not found ....skipping")
        continue
    
state_vmt = pd.DataFrame()
state_vmt = pd.concat(month_dfs, axis=1, sort=True)
state_vmt.head()

18oct not found ....skipping
18dec not found ....skipping

,16jan Stations,16jan Miles,17jan Stations,17jan Miles,18jan Stations,18jan Miles,16feb Stations,16feb Miles,17feb Stations,17feb Miles,...,16nov Stations,16nov Miles,17nov Stations,17nov Miles,18nov Stations,18nov Miles,16dec Stations,16dec Miles,17dec Stations,17dec Miles
State,,,,,,,,,,,,,,,,,,,,,
Connecticut,32,2417,34,2456,0,2273,31,2265,35,2274,...,33,2692,21,2746,11,2656,33,2527,24,2513
Maine,94,1121,85,1143,86,1052,11,1068,0,1069,...,0,1178,93,1199,95,1138,88,1163,98,1163
Massachusetts,33,4766,35,4970,30,4616,33,4465,57,4452,...,63,4871,53,4998,47,4943,54,4937,50,4933
New Hampshire,163,1022,133,1021,134,966,173,973,174,988,...,175,1015,173,1017,156,999,175,1090,174,1069
New Jersey,43,5197,42,5464,46,5416,47,5510,47,5483,...,41,6813,45,6754,51,6744,49,6561,37,6542